{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": false }]
    // Add other plugins you might need
  ],
  "presets": [
    // You can keep your existing presets if needed
  ]
}